*{margin: 0;}

body{
    background: #002732;
    color: white;
    }

    body a{text-decoration: none;}

hr{
    margin: 0 50px;}

.container-fluid{background-color: #00151F;
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.head-image img{position: absolute;
    margin-top: 108px;
margin-right: 320px;}


.head-image{
    background-image: url(./Images/header.png);
    background-size: cover;
    background-position: center;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.head-image .hh{font-size: 180px;
    font-family: coda;
    font-weight: bold;
text-transform: uppercase;
letter-spacing: 5px;
margin-top: -10px;
}

.head-image .p{font-size:30px;
display: flex;
flex-direction: row;
gap: 800px;
justify-content: space-between;
text-align: right;
font-family: inter;}

.menu-section{display: flex;
flex-direction: row;
    justify-content: space-between;
padding: 0 50px;
align-items: center;
margin-bottom: 2.5rem;}


nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    
}

nav ul li a{
    display: inline;
    color: #87A5B6;
    font-family: inter;
    cursor: pointer;
    position: relative;
    transition: color 0.25s;
    padding: 8px 16px;
}

nav ul li a:hover{color: rgb(255, 255, 255);
    transition: all .4s ease;
    transform: scale(0.5);
}

nav ul li a:hover::after{scale: 1 1;}

nav ul li a::after{content: "";
    position: absolute;
    scale: 1 0;
    inset: 0;
    z-index: -1;
    background: #87A5B6;
    transition: 0.45s;
    border-radius: 5px;
}

.h{font-size: 60px;
    text-transform: uppercase;
font-weight: bold;
font-family: coda;
color: #87A5B6;}

.about{background-color: #002732;
    background-image: linear-gradient(rgb(0, 39, 50, 0.5), rgb(0, 39, 50, 0.5)) ,url(./Images/blob-scene-haikei.svg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 50px;
    text-align: left;
    padding: 100px 50px;
    
}

.me{background-image:linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url(./Images/matt-sirr-c8Q4BtMZgqM-unsplash.jpg);
background-size: cover;
background-position: center;
width: 300px;
height: 400px;
border-radius: 20px;}

.me:hover{transform: scale(1.1);
transition: .4s ease-in-out;}

.about .abt{position: absolute;
z-index: 9;
margin-left: 50px;
margin-top: -50px;
font-size: 60px;
color: #87A5B6;
}

.about p{font-size: larger;}

.irregular{position: absolute;
z-index: 5;
margin: -50px 0 0 1100px}

/* From Uiverse.io by cssbuttons-io */ 
.button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    cursor: pointer;
    color: black;
    z-index: 1;
  }
  
  .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #87A5B6;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button:hover {
    color: #ffffff;
    border: 1px solid #87A5B6;
  }
  
  .button:hover:before {
    top: -35%;
    background-color: #87A5B6;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button:hover:after {
    top: -45%;
    background-color: #87A5B6;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

.catalogue-section{background-color: #002732;
    height: 1000px;
padding: 50px;
height: 1100px;}

.catalogue-section .headd{display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;}

.catalogue-section .headd span{font-size: 20px;
}

.flex{display: flex;
justify-content: center;
margin: 50px 0;}

.catalogue-grid{display: grid;
gap: 30px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
}

.catalogue{width: 225px;
height: 400px;
border-radius: 20px;
overflow: hidden;
position: relative;
transition: .5s;
cursor: pointer;}

.catalogue img{width: 100%;
height: 100%;
object-fit: cover;
pointer-events: none;
transition: .5s;
}

.catalogue .layer{background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
position: absolute;
bottom: 0;
width: 100%;
height: 75%;
opacity: 0;
transition: .3s;
}

.catalogue .info{position: absolute;
    bottom: -50%;
    padding: 15px;
    opacity: 0;
    transition: .5s bottom,1.7s opacity;}

    .info p{font-size: 14px;
    margin-top: 3px;}

    .info button{background: #003747;
        border: none;
        color: white;
        padding: 8px 12px;
        font-weight: bold;
        border-radius: 8px;
        margin-top: 8px;}

        .info button:hover{background: #87A5B6;}

        .catalogue:hover, 
        .catalogue:hover img, 
        .catalogue:hover.layer {transform: scale(1.1);}

.catalogue:hover > .layer{opacity: 1;}

       .catalogue:hover >.info{opacity: 1; bottom: 0;}

       .catalogue-grid:hover > .catalogue:not(:hover)
       {filter: blur(5px);}

.featured-section{display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #002732;
    height: 400px;
    padding: 50px;
}

.featured-grid{display: flex;
gap: 20px;}

.featured{
    border-radius: 20px;
    width: 200px;
    height: 200px;
    background-color: #87A5B6;
    flex: 1;
    transition: all .3s ease;
    cursor: pointer;
    }

.featured:hover{ flex: 2;
    filter: blur(0px);
}

.couple1{background-image: url(./Images/wed1.jpg);
background-size: cover;
    background-position: center;}

.couple2{background-image: url(./Images/wed4.jpg);
background-size: cover;
background-position: top center;}

.couple3{background-image: url(./Images/wed3.jpeg);
background-size: cover;
background-position: center;}  

.couple4{background-image: url(./Images/wed2.jpg);
background-size: cover;
background-position: center;}

.couple5{background-image: url(./Images/wed5.jpg);
background-size: cover;
background-position: top center;}



.client-section{margin: 50px 0;
    background-color: #002732;}

.client-head{display: flex;
flex-direction: row;
gap: 150px;
margin-left: 50px;
margin-top: 20px;}

.client-head img{height: 80px;
width: auto;}

.client{display: flex;
justify-content: center;
}

.client-border{border: solid;
    border-color: rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    height: 300px;
    width: 1000px;
    padding: 20px;
    display: flex;
    justify-content: center;
    }

    .client-text{display: flex;
        flex-direction: column;
        gap: 10px;
    margin-right: 200px;}

.vector{display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
text-align: center;
}

.vector p{color: #87A5B6;}

.client-img{background-color: #87A5B6;
position: absolute;
z-index: 1;
margin-top: 70px;
margin-left: 950px;
box-shadow: 20px 20px 10px black;
display: flex;
justify-content: start;
align-items: start;
}

.contact{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 50px 0;
}

.contact .head{font-size: 60px;
font-family: inter;
text-transform: uppercase;
color: #87A5B6;}

.contact span{font-size: 25px;}

.chat-con{display: flex;
flex-direction: row;
gap: 100px;
margin-left: 400px;
margin-top: 15px;
}


.chat{display: flex;
    gap: 10px;
width: 500px;}

   .chat span{ font-size: 60px;
    text-transform: uppercase;
}

.social{display: flex;
flex-direction: row;
justify-content: space-around;
margin-top: 30px;
width: 800px;
}

.social a{color: white;}

.social a:hover{color:#87A5B6}

.social .call{display: flex;
    gap: 10px;}

    #phone:hover{color: #87A5B6;}

    footer{display: flex;
    flex-direction: row;
        justify-content: space-around;
        padding: 50px;
        }


        /* From Uiverse.io by Shoh2008 */ 
.loader {
    display: block;
    width: 84px;
    height: 84px;
    position: relative;
  }
  
  .loader:before , .loader:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #FFF;
    transform: translate(-50% , -100%)  scale(0);
    animation: push_401 2s infinite linear;
  }
  
  .loader:after {
    animation-delay: 1s;
  }
  
  @keyframes push_401 {
    0% , 50% {
      transform: translate(-50% , 0%)  scale(1)
    }
  
    100% {
      transform: translate(-50%, -100%) scale(0)
    }
  }



  